/* *,
*::before,
*::after */



body {
  background-color: lightskyblue;
  /* align-items: center;
  border: 3px;
  width: 105px;
  border-style: solid;
  border-color: burlywood;
  padding: 3px;  */
}


h1 {
  padding: 12px;
}

p {
  border: 7px;
  height: 20px;
  width: 304px;
  align-items: center;
  border-style: solid;
  border-color: aqua;
  padding: 10px;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: medium;
}


  /* .App-header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} */

.App button {
  outline-style: double;
  width: 112px;
  height: 112px;
  size: 80px;
  background-color: rgb(226, 43, 183);
  color: black;
  font-size: large;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
